.traveladdress{
    width: 100%;
}
.traveldetails{
    width: 50%;
    margin-left: 20%;
    padding: 50px;
    margin-top: 1%;
    border: 1px solid #ead9f1;
}
.travelname{
    display: flex;
    border-bottom: 1px solid #f0cef5;
  
}
.travellogo{
    width: 20%;
}
.traveltitlename{
    width: 80%;
    margin: 3%;
}
.traveledit{
    border: 1px solid #f0cef5;
    margin: 15px;
    display: flex;
    border-radius: 14px;
}
.fromto{
    width: 50%;
    text-align: center;
}
.linkedit{
    width:50%;
}
.edit{
    align-items: center;
    width: 30%;
    color: white;
    letter-spacing: 2px;
    margin-left: 70%;
    font-size: 20px;
    height: 100%;
    border-top-right-radius: 20px;
    background-color: #d40000;
    border-bottom-right-radius: 20px;
}