li{
    list-style: none;
    margin-bottom: 35px;
    font-family: monospace;
}
body{
    display: flex;
}
.right{
    width: 100%;
    background-color: black;
}
.left{
    width: 100%;
    background-image: url("../image/bus.png");
    background-repeat: no-repeat;
    background-position-y: 170px;
}
.headtext{
    text-transform: uppercase;
    color: green;
}
.travel{
    background-color: white;
    padding: 20px;
    left: 30%;
    top:30%;
    border: 1px solid;
    position: absolute;
}
.travelhead{
    position: absolute;
    left:43%;
    top:10%;    
}
.regi{
    color:white;
}
input{
    border: 1px solid darkgreen;
    border-radius: 5px;
    height: 30px;
}
.registerbutton{
    margin-left: 25%;
    width: 35%;
    height: 36px;
    border-radius: 20px;
    border: none;
    background-color: yellowgreen;
    color: white;
    font-size: 20px;
}