{% extends 'base.html' %}
{% include "nav.html" %}
{% load static %}
{% block content %}
<section class="slide">
    <div>
        <h1>A to Z Driving</h1>
       <p> A to Z.com is India’s #1 driving classes booking platform.
        We aim to revolutionize the motor driving school sector which is already trusted by over 10,000 happy customers.
        Our mission is to create safe drivers to reduce the number of accidents on the road that cause huge human and monitory loss to our nation.</p>
        <h2>A to Z Driving Class's Available</h2>
        {% if user.is_authenticated %}
        <h2><a href="/view"><button>View Class's</button></a> </h2>
        {%else%}
        <h2><a href="/signup"><button>Join Now</button></a> </h2>
        {%endif%}
    </div>
    <div>
        <img src="{% static 'image/globe.svg' %}">
    </div>

</section>
{% endblock %}

