body{
   
    background-color: antiquewhite;
}
li{
    list-style: none;
}
table, td, th {  
     border: 1px solid #ddd;
     text-align: left;
 }

 table {
     border-collapse: collapse;
     width: 100%;
     
 }

 th, td {
     padding: 15px;
 }
 .page{
    top: 15px;
    background-color: white;
    width: 50%;
    position: absolute;
    left: 25%;
    box-shadow: 2px 2px 22px #5a4c4c;
    background-image: url("./image/f3.png");
    background-position-x: -105px;
    background-size: 35%;
    background-position-y: 107px;
    background-repeat: no-repeat;
 }
 #bill{
    margin-left: 95px;
 }
 li{
   
 }

 #total{
     margin-left: 60px;
     
 }
 #share{
     margin-left: 49px;
 }
 h1{
     margin-left: 180px;
     color: chocolate;
    font-size: 40px;
    font-style: italic;
 }
input{
    margin-bottom: 25px;
    margin-left: 140px;
    height: 30px;
    border: 1px solid darkblue;
 }
 #demo{
    margin-top: 0px;
    margin-left: 55px;
 }
 .shareamount{
     display: flex;
 }
.button{
    margin-left: 85px;
    width: 35%;
    height: 40px;
    margin-top: 20px;
    background-color: darkgoldenrod;
    color: wheat;
    font-size: 24px;
    border: none;
    border-radius: 20px;
}
.inputcss{
    height: 30px;
    border: 1px solid darkblue;
}